<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606184294241-3d8p6afnhr4iekrfatr1qu8ar4gd336k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606184294241-3d8p6afnhr4iekrfatr1qu8ar4gd336k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>606184294241-jq26uj06qnp95b689dhbjk8talms51ff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdn3g95EjlAYjDR4gSdGtSTGQjuGumcbE</string>
	<key>GCM_SENDER_ID</key>
	<string>606184294241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.algoriza.forge</string>
	<key>PROJECT_ID</key>
	<string>laravel-forge-ac6ae</string>
	<key>STORAGE_BUCKET</key>
	<string>laravel-forge-ac6ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606184294241:ios:476fb7881deb712ad92720</string>
	<key>DATABASE_URL</key>
	<string>https://laravel-forge-ac6ae-default-rtdb.firebaseio.com</string>
</dict>
</plist>